<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nicolas.console.pr"
    android:versionCode="9"
    android:versionName="essai_9">
    <!--uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission-->

    <!--uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/-->

    <application
        android:icon="@drawable/bonhomme1"
        android:label="Attrape V9" >
        <activity
            android:name="jeux.Jeux_avion"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>